body{
    margin: 0px;
}

.container{
    background-color: pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.object{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.object-one{
    background-color: red;
}

.object-two{
    background-color: yellow;
    order: -1; 
}

.object-three{
    background-color: blue;
    align-self: flex-end;
}